/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #666666;
    --secondary-color: #111111;
    --btn-color: #facf0f;
    --low-btn: rgb(234, 235, 195);
    --low-white: gainsboro;
}

/* Utility Class */

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--secondary-color);
}

h2 {
    font-size: 2rem;
    font-weight: 650;
    color: var(--secondary-color);
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    /* color: var(--secondary-color); */
}

p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}

@media(max-width:400px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: .5rem;
    }
}

.heading-primary {
    font-size: 3.5rem;
}

.heading-secondary {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: var(--primary-color);
}

.btn {
    background: var(--btn-color);
    color: var(--secondary-color);
    padding: 1rem 2.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px 0 var(--primary-color);
    transition: .3s;
}

.btn:hover {
    transform: translateY(-10px);
}


.center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.icon {
    font-size: 2.5rem;
}




/* <------------------Header-----------------------> */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 5.2rem;
    width: 100%;
    z-index: -1;

}

.logo-container {
    display: flex;
    height: 5rem;
    align-items: center;
    /* justify-content: space-around; */
}

.logo-container img {
    height: 5rem;
    object-fit: contain;
    /* border: 5px solid var(--low-btn); */
    background-color: var(--btn-color);
    border-radius: 10rem;

}

.logo-container span a {
    font-size: 1.2rem;
    margin-left: 1rem;
    color: var(--secondary-color);
    font-weight: 700;
    letter-spacing: 1px;
    transition: .3s;
}

.logo-name:hover {
    color: var(--btn-color);
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    padding: 1.8rem 2rem;
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    display: inline-block;
}

.navbar ul li a:hover {
    color: var(--btn-color);
    border-radius: 2rem;
}

.mobile-nav-icon {
    height: 2.5rem;
    width: 3rem;
    color: var(--secondary-color);
}

.mobile-navbar-btn {
    cursor: pointer;
    z-index: 999;
    display: none;
}

.three-line {
    height: 0.2rem;
    width: 1.1rem;
    background: black;
    margin-bottom: 2px;
    transition: all 0.3s linear;
}

.first-line-change {
    transform: translate(0px, 0px) skew(-20deg, 50deg);

}

.mid-line-change {
    display: none;
    transform: scaleY(0);
}

.third-line-change {
    transform: translate(0px, 0px) skew(20deg, -50deg);
}


/* Media Queries */

@media(max-width:1250px) {
    .navbar ul li a {
        padding: 1.8rem 1rem;
        font-size: 0.8rem;
    }

    .logo-container span a {
        font-size: 1rem;
    }

    .logo-container img {
        width: 3rem;
        height: 3rem;
    }
}

@media(max-width:960px) {
    .main-header {
        padding: 0 1rem;
    }
}

@media(max-width:620px) {
    .mobile-navbar-btn {
        display: block;
    }

    .navbar ul {
        background: var(--low-btn);
        width: 100%;
        height: 100vh;
        position: fixed;

        flex-direction: column;
        top: 5rem;
        left: 0;
        align-items: center;

        transform: translate(150%);
        transition: all 0.2s linear;
    }

    .active .navbar ul {
        transform: translate(0%);
    }
}

/* <------------------Hero Section-----------------------> */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    width: 100vw;
    background-color: var(--low-white);
}

.hero::before {
    content: "";
    background: url(assets/asset1.png) no-repeat right;
    background-size: 75%;

    z-index: 1;
    width: 100%;
    height: 40rem;

    opacity: 0.2;
    position: absolute;
    top: 5rem;
}

.hero-section {
    letter-spacing: 1px;
    width: 75%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section button {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.hero-intro {
    margin-bottom: 1rem;
}

.hero-info {
    margin-bottom: 1rem;
}

.hero-section button {
    margin: 1rem 2rem;
}

/* /Media Queries */
@media(max-width:960px) {
    .heading-primary {
        font-size: 3rem;
    }

    .heading-secondary {
        font-size: 1rem;
        line-height: 2rem;
    }

    .btn {
        padding: 1rem 1rem;
        font-size: 0.8rem;
    }
}

@media(max-width:570px) {
    .heading-primary {
        font-size: 2rem;
        line-height: 2rem;
    }

    .heading-secondary {
        font-size: 0.8rem;
    }

    .btn {
        padding: 1rem 1rem;
        font-size: 0.8rem;
    }

    .hero::before {
        background-size: cover;
    }

    .hero {
        height: 40rem;
    }

    .hero-section {
        width: 95%;
    }
}


/* Social Button */
.hero-social {
    top: 250px;
    box-shadow: 1px 1px 5px 1px var(--primary-color);
    /* position: fixed; */
    position: absolute;
    z-index: 1;
}

.social-icon {
    padding: 0.5rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.social-icon a {
    color: var(--secondary-color);
}

.social-icon a:hover {
    color: var(--btn-color);
}


@media(max-width:900px) {
    .hero-social {
        display: none;
    }

}

/* Mouse */
.scroll-down {
    position: absolute;
    top: 45rem;
    left: 50%;
}

.mouse {
    height: 3rem;
    width: 2rem;
    border: 2px solid black;
    border-radius: 2rem;
}

.scroller {
    margin: 0 auto;
    width: 2px;
    height: 5px;
    background-color: black;
    animation: scroll 1.5s ease-in-out infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    50% {
        transform: translateY(5px);
        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@media(max-width:570px) {
    .scroll-down {
        display: none;
    }
}

/* <------------------About Section-----------------------> */
.about-section {
    margin-top: 3rem;
}

.dash {
    height: 5px;
    width: 3rem;
    background: var(--btn-color);
    margin: 0 auto;
    border-radius: 2rem;
}

.about-info {
    width: 70%;
    margin: 0 auto;
}

.about-main {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.about-education {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-education-detail {
    color: var(--primary-color);

}



.about-skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.skills-skill {
    padding: 1rem 1rem;
    background: var(--low-white);
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

@media(max-width:770px) {
    .about-main {
        grid-template-columns: 1fr;
    }

    .skills-skill {
        padding: 0.5rem;
        margin: 0;
        font-size: 10px;
    }
}

/* <------------------Footer-----------------------> */
.main-footer {
    background-color: black;
    color: white;
    margin-top: 10rem;
}

.main-footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
}

.main-footer-upper-row1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-footer-upper-row2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-social-icon a {
    color: white;

}

.footer-social-icon ion-icon {
    font-size: 2rem;
}

.footer-social ul {
    display: flex;
    gap: 1rem;
}

.main-footer-lower {
    padding: 5rem;
}

@media(max-width:650px) {
    .main-footer-upper {
        flex-wrap: wrap-reverse;
    }
}